body{
    background-color:rgb(255, 213, 150);
    margin:15px;
    }


.image-container #firstHeading{
    margin:auto;
    text-align: center;
    text-shadow: 3px 5px 7px rgba(49, 73, 80, 0.904);
    padding-bottom:10px;
    font-size: 60px;
    font-weight: 300;
    font-family: 'Advent Pro',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:darkslategray
    
    
}

.image-container #OdinRecipesImg{
    display: block;
    text-align: center;
    max-width: 55%;
    margin: 0 auto;

}

#recipe-title{
    font-family: 'Advent Pro',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: darkslategray;
    font-size: 50px;
    font-weight: 300;
    text-shadow: 3px 5px 7px rgba(49, 73, 80, 0.904);
    
}

.recipe-img{
    background-color:rgb(255, 218, 170);
    max-width:100%;
    margin-top:20px;
    border-radius: 2cm;
    border-style:outset;
    border-bottom-style:hidden;
}

.recipe-img #image-one{
    width:200px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-left: 60px;
    border-radius: 1.2cm;

}

.recipe-img #image-two{
    width: 203px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-left: 65px;
    border-radius: 1.2cm;


}

.recipe-img #image-three{
    width: 213px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-left: 65px;
    border-radius: 1.2cm;

}

.recipe-img #image-four{
    width: 200px;
    height:298px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-left: 65px;
    border-radius: 1.2cm;


}

.recipe-img #image-five{
    width: 223px;
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 5px;
    padding-left: 65px;
    border-radius: 1.2cm;

}

.recipe-link{
    background-color:rgb(255, 218, 170);
    max-width:100%;
    border-radius: 2cm;
    border-style:outset;
    border-top-style:hidden;
    align-items: center;
    text-align: center;
}

.recipe-link #link-one{
    font-size: 20px;
    color: rgb(80, 31, 31);
    text-decoration: none;
    padding-left: 25px;
    padding-right: 50px;
    
}

.recipe-link #link-two{
    font-size: 20px;
    color: rgb(80, 31, 31);
    text-decoration: none;
    padding-left: 80px;
    padding-right: 55px;
    

}

.recipe-link #link-three{
    font-size: 20px;
    color: rgb(80, 31, 31);
    text-decoration: none;
    padding-left: 90px;
    padding-right: 60px;

}

.recipe-link #link-four{
    font-size: 20px;
    color: rgb(80, 31, 31);
    text-decoration: none;
    padding-left: 120px;
    padding-right: 65px;

}

.recipe-link #link-five{
    font-size: 20px;
    color: rgb(80, 31, 31);
    text-decoration: none;
    padding-left: 120px;
    padding-right: 45px;

}



